.git
.github
.codex
.idea
.vscode
example_client
scripts
**/node_modules
**/hls
**/mp4
**/data
**/*.mp4
**/*.log
/video_server
/video_server.exe
/linux-amd64-video_server.tar.gz
/linux-arm64-video_server.tar.gz
/windows-amd64-video_server.zip
/darwin-amd64-video_server.tar.gz
/darwin-arm64-video_server.tar.gz
